* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* CONTAINER & PLAYING BOARD */

.container {
  border: 2px solid green;
  padding: 10px 66px 10px 66px;
}

.btn {
  border: 2px solid black;
  background-color: gray;
  margin: 15px;
  padding: 10px;
}

.flag-img {
  width: 110px;
  height: 80px;
}